<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimbus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="title">Nimbus</h1>
        <p class="tagline">Move your music between streaming like a starfighter through hyperspace.</p>

        <div class="button-group">
            <a href="/spotify-login" class="btn spotify">Login with Spotify</a>
            <button id="apple-login" class="btn apple">Login with Apple Music</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
