<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
    <script src="/static/app.js" defer></script>
</head>

<body>
    <div class="library-container">
        <h1 class="title">Welcome to Your Spotify Dashboard</h1>

        <div class="transfer-options">

            {% if library %}
                <h2 class="tagline">Your Library</h2>
                <ul>
                    {% for key, items in library.items() %}
                        <div class="library-section">
                            <h3 class="library-heading">{{ key | capitalize }}</h3>
                            <ul class="library-items">
                                {% for item in items %}
                                    <li>
                                        {% if item.title and item.artist %}
                                            {{ item.title }} - <em>{{ item.artist }}</em>
                                        {% else %}
                                            {{ item }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p style="text-align:center; margin-top:1rem;">No songs or playlists were found in your spotify library</p>
            {% endif %}

        <h2>Begin your transfers:</h2>
                <button id="transfer-to-apple-btn" type="submit" class="submit-btn" onclick="transferLibrary()">Begin Transfer</button>
        </div>
        <a href="/" class="back-link">⟵ Back to Home</a>
    </div>
</body>

</html>
